/* Contact Section Css*/

.contact {
    background-color: #141414;
  }
  
  .contact__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
  }
  
  /* targets h1 content in main__content div */
  .main__content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  /* targets h2 content in main__content div */
  .main__content h2 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color:#fff;
    /*google fonts kumbh*/
  }
  
  
  .main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 0px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }
  
  .main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  
  .main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
  }
  
  .main__btn:hover {
    color: #fff;
  }
  
  .main__btn:hover:after{
    width:100%;
  }
  
  .main__img--container {
    text-align:center;
  
  }
  
  #main_img {
    height: 50%;
    width: 50%;
  }
  
  
  
  /*   Mobile responsiveness */
  @media screen and (max-width: 768px) {
    .main__container{
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
      height: 090vh;
    }
  
    .main__content {
      text-align: center;
      margin-bottom: 4rem;
    }
  
    .main__content h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
    }
  
    .main__content h2 {
      font-size: 3rem;
    }
  
    .main__content p {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
  
  /*same as above but make it for 480 px */
  @media screen and (max-width: 480px) {
    .main__container{
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
      height: 090vh;
    }
  
    .main__content {
      text-align: center;
      margin-bottom: 4rem;
    }
  
    .main__content h1 {
      font-size: 2rem;
      margin-top: 3rem;
    }
  
    .main__content h2 {
      font-size: 2rem;
    }
  
    .main__content p {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
  
    .main__btn {
      padding: 12px 36px;
      margin: 2.5rem 0;
    }
  
  }
  
  
  